




/*------------------------------------*\
    $ARTICLES
\*------------------------------------*/
.article-home {
	width: 100%;
	padding: $gutterwidth / 2;
	background-color: #ededed;
	margin-bottom: 1em;
}
@media all and (min-width: 540px) {
	.article-home {
		width: 100%;
		max-width: 50%;
		display: inline-block;
		vertical-align: top;
	}
}

@media all and (min-width: 700px) {
	.article-home {
		display: inline-block;
		width: 50%;
		height: 270px;
		vertical-align: top;
	}
}
	.article-home__header {
		background-color: $basecolor;
		color: lighten($basecolor, 50);
		padding-left: .5em;
		h2 {
			line-height: 2;
		}
	}